* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #eef2f5;
  color: #333;
}

nav {
  background: #1b3a57;
  padding: 15px;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
}

h1 {
  color: #1b3a57;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

img {
  max-width: 300px;
  border-radius: 10px;
  margin: 15px 0;
}

.btn {
  padding: 10px 20px;
  background: #1b3a57;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #244d74;
}

footer {
  background: #1b3a57;
  color: white;
  padding: 25px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
  min-width: 200px;
}

footer a {
  color: #b8dbff;
  text-decoration: none;
}

.copy {
  text-align: center;
  margin-top: 15px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #1b3a57;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}

.card:hover {
  background: #244d74;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.lista-curiosidades {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.lista-curiosidades li {
  background: #1b3a57;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.img-animal {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
}